* {
  box-sizing: border-box;
  font-family: 'pretendard', 'REM', sans-serif;
}


body {
  width: 100%;
  background-color: blanchedalmond;
  position: relative;
}

/* title */
.title{
  margin: auto;
  margin-bottom: 100px;
}

header .title .inner>h1 {
  font-size: 85px;
  text-align: center;
  color: green;
  letter-spacing: 4px; /* 자간 간격 */
  word-spacing: 8px; /* 단어 간격 */
  font-family: 'REM', sans-serif;
}

/* form */
.form-input {
  position: relative;
  height: 50px;
  width: 90%;
  margin: 0 auto;
}

.form-input select {
  position: absolute;
  left: 5%;
  bottom: 0;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: green;
  width: 13%;
  padding: 13px;
  font-size: 15px;
}

.form-input .input {
  border: none;
  border-bottom: 2px solid green;
  background-color: transparent;
  font-size: 15px;
  color: darkolivegreen;
  width: 27%;
  height: 43px;
}

.form-input .input.place {
  position: absolute;
  left: 23%;
  bottom: 0;
}

.form-input .input.link {
  position: absolute;
  left: 55%;
  bottom: 0;
}

.form-input .input::placeholder {
  color: darkolivegreen;
}

.form-input .input:focus {
  outline: none;
}


.form-input .input-btn {
  position: absolute;
  right: 5%;
  top: 0;
  width: 49px;
  height: 49px;
  padding: 6px;
  border: none;
  background-color: green;
  color: blanchedalmond;
  border-radius: 50%;
  font-size: 15px;
}

/* food-list */
.list-container{
  position: relative;
  height: 500px;
  width: 80%;
  margin: 80px auto;
}

.list-container .active{
  display: block;
}

.food-list {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  display: none;
}

.food-list fieldset {
  border: 1px solid green;
  border-radius: 5px;
}

.food-list fieldset legend {
  font-size: 17px;
  font-weight: 700;
  color: rgb(7, 65, 7);
}

.food-list fieldset {
  color: #333;
}